	table, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	thead {
		border: 1px solid black;
		border-collapse: collapse;
	}
.img-container {
	background-color: white;
	padding: 0px;
	margin: 5px 5px 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5%;
}
.img-placeholder {
	background-color: lightcoral;
	padding: 0px;
	width: 25vh;
	height: 25vh;
	border-radius: 5%;
	box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
	
	tr > td{
	text-align : center;
	height : 50px;
 	border: 1px solid lightgray;
	}
	tr > th{
	height : 40px;
	text-align : center;
	}

	tbody > tr:hover{
	background-color: #00B3DC;
	color: white;
	cursor: pointer;
	}
	
	
	.paging { 
	margin-left : 300px;
	list-style: none; 
	
	}
	.paging li {
		float: left;
		margin-right: 20px;
	}
	.paging li a {
		text-decoration: none;
		display: block;
		padding: 3px 7px;
		border: 1px solid #00B3DC;
		font-weight: bold;
		color: black;
	}
	.paging .disable {
		border: 1px solid silver;
		padding: 3px 7px;
		color: silver;
	}
	.paging .now {
		border: 1px solid #00B3DC;
		padding: 3px 7px;
		background-color: #00B3DC;
		color: white;
	}
	.paging li a:hover {
		background-color: #00B3DC;
		color: white;
	}
	
	table{
	margin : auto;
	width: 1000px;
  line-height: 1em;
	}
	
	h1{
	margin: 30px;
  	text-align: center;
    font-weight: bold;
	}