@import url(http://fonts.googleapics.com/earlyaccess/nanumgothic.css);

.sidebar * {
	font-family: 'nanumgothic' !important;
	margin: 0;
	padding: 0;
}

.sidebar ul {
	list-style: none;
	margin-left: 10px;
	border: none;
}

.sidebar ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	margin-left: 8px;
	line-height: 4.5vh;
}

.sidebar ul li a:hover {
	color: rgb(139, 139, 139);
}

.sidebar li h4 {
	color: rgb(204, 204, 204);
	text-align: center;
	margin-top: 13px;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-weight : bold;
	
}

.sidebar hr {
	margin-top: 10px;
	background-color: rgb(65, 65, 65);
	border-color: rgb(65, 65, 65);
}

.sidebar {
	position: absolute;
	float:left;
	margin-top: 30px;
	margin-left: 0;
	width: 150px;
	z-index: 1000;
	display: inline-block;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(34, 34, 34);
	border: 1px solid rgb(51, 51, 51);
}