<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mystudy">

	
	<select id="bookCount" resultType="int">
		SELECT COUNT(*) FROM BOOKS
	</select>
	
	<select id="bookList" resultType="com.savanna.model.vo.BookVO">
		SELECT book_no
				, book_name
				, writer
				, publisher
				, pub_date
				, price
				, book_desc
				, NVL(stock, 0)
				, category
				FROM BOOKS ORDER BY BOOK_NO
	</select>
	
	<select id="pagedBookList" resultType="com.savanna.model.vo.BookVO"
			parameterType="Map">
		SELECT *
		  FROM (SELECT ROWNUM AS PAGING_INDEX, ORDERED_BOOKS.*
		          FROM (SELECT book_no
							, book_name
							, writer
							, publisher
							, pub_date
							, price
							, book_desc
							, stock
							, category
		                  FROM BOOKS
		                 ORDER BY BOOK_NO DESC
		               ) ORDERED_BOOKS
		       )
		 WHERE PAGING_INDEX BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="pagedDatelessBookList" resultType="com.savanna.model.vo.BookVO"
			parameterType="Map">
		SELECT *
		  FROM (SELECT ROWNUM AS PAGING_INDEX, ORDERED_BOOKS.*
		          FROM (SELECT book_no
							, book_name
							, writer
							, publisher
							, price
							, book_desc
							, stock
							, category
		                  FROM BOOKS
		                 ORDER BY BOOK_NO DESC
		               ) ORDERED_BOOKS
		       )
		 WHERE PAGING_INDEX BETWEEN #{begin} AND #{end}
	</select>
	
	<update id="updatebook" parameterType="com.savanna.model.vo.BookVO">
		UPDATE BOOKS
		SET  book_name = #{book_name }
			, writer = #{writer }
			, publisher = #{publisher }
			, pub_date = #{pub_date }
			, price = #{price }
			, book_desc = #{book_desc }
			, stock = #{stock }
			, category = #{category }
		WHERE book_no = #{book_no }
	</update>
	
	<insert id="insertbook" parameterType="com.savanna.model.vo.BookVO">
		INSERT INTO BOOKS (book_no
						, book_name
						, writer
						, publisher
						, pub_date
						, price
						, book_desc
						, stock
						, category)
		VALUES (book_no_seq.nextval
			 , #{book_name }, #{writer }, #{publisher }, #{pub_date }, #{price }, #{book_desc }, #{stock }, #{category })
	</insert>
	
	<delete id="deletebook" parameterType="int">
		DELETE 
		FROM BOOKS
		WHERE book_no = #{book_no}
	</delete>
	<select id="bookdetail" parameterType="int" resultType="com.savanna.model.vo.BookVO">
		SELECT book_no
			, book_name
			, writer
			, publisher
			, pub_date
			, price
			, book_desc
			, stock
			, category
		FROM BOOKS
		WHERE book_no = #{book_no}
	</select>
	
    <!-- 책번호로 책 한권 검색 -->
	<select id="onebook" parameterType="int" 
			resultType="com.savanna.model.vo.BookVO">
		SELECT BOOK_NO
			, BOOK_NAME
			, WRITER
			, PUBLISHER
			, PUB_DATE
			, PRICE
			, BOOK_DESC
			, NVL(STOCK, 0) as STOCK
			, CATEGORY
		FROM BOOKS WHERE BOOK_NO = #{book_no }
	</select>
	
	<!-- 동적 검색 -->
	<select id="search" parameterType="map"
			resultType="com.savanna.model.vo.BookVO">
		SELECT *
		  FROM BOOKS
		<choose>
			<when test="idx == 0">
				WHERE BOOK_NO = #{keyword}
			</when>
			<when test="idx == 1">
				WHERE BOOK_NAME= INITCAP(#{keyword}) 
			</when>
			<when test="idx == 2">
				WHERE WRITER = UPPER(#{keyword})
			</when>
			<when test="idx == 3">
				WHERE PUBLISHER = #{keyword}
			</when>
			<otherwise>
				WHERE 1 = 2
			</otherwise>
		</choose>
		ORDER BY BOOK_NO	
	
	</select>

    <!-- 주소를 가져오기 위한 회원정보조회 -->
	<select id="getmemaddr" parameterType="string" resultType="string">
		SELECT ADDR FROM MEMBERS WHERE ID = #{id}
	</select>
	
	<!-- 장바구니 전체 조회 -->
	<select id="cartlist" parameterType="string"
			resultType="com.savanna.model.vo.CartVO">
		SELECT * 
		 FROM CART
		 WHERE ID = #{id} 
	</select>
	
	<!--  장바구니에서 책번호로 조회 -->
	<select id="cartone" parameterType="map"
			resultType="com.savanna.model.vo.CartVO">
		SELECT * 
		 FROM CART 
		 WHERE BOOK_NO = #{book_no } 
		 AND ID = #{id}
	</select>
	
	<!-- 장바구니에서 중복상품 조회 : 중복없으면 count=(result) -->
	<select id="jungbok" parameterType="map" resultType="int">
		SELECT COUNT(*) 
		 FROM CART 
		 WHERE ID = #{id} 
		 AND BOOK_NO = #{book_no }
	</select>
	
	<!-- 장바구니 내부 전체금액 조회 -->
	<select id="totprice" parameterType="string" resultType="int">
		SELECT NVL(SUM(CART_PRICE * CART_QUAN), 0)
		 FROM CART 
		 WHERE ID = #{id }
	</select>

	<!--  장바구니 물건 추가 -->
	<insert id="insertcart" parameterType="com.savanna.model.vo.CartVO">
		INSERT INTO CART (CART_NO, ID, BOOK_NO, BOOK_NAME, ADDR, 
				CART_PRICE, CART_QUAN)
		VALUES (CARTNO_SEQ.NEXTVAL, #{id}, #{book_no}, #{book_name}, #{addr}, 
				#{cart_price}, #{cart_quan})
	</insert>
	
	<!--  장바구니 수량 변경 -->
	<update id="cartquanupdate" parameterType="map">
		UPDATE CART
		 SET CART_QUAN = #{cart_quan}
	 	 WHERE id = #{id} 
	 	 AND BOOK_NO = #{book_no}
	</update>
	
	<!--  장바구니 내부 물건 삭제 -->
	<delete id="deleteincart" parameterType="map">
		DELETE FROM CART WHERE BOOK_NO = #{book_no} AND ID = #{id}
	</delete>

	<!-- 장바구니 삭제(구매하면 장바구니에서 삭제)--> 
	<delete id="clearcart" parameterType="string">
		DELETE FROM CART WHERE ID = #{id }
	</delete>
	
	<!-- 구매내역에 입력 -->
	<insert id="sendorder" parameterType="com.savanna.model.vo.CartVO">
		INSERT INTO BUY_LIST(BUYLIST_NO, CART_NO, BOOK_NO, BOOK_NAME ,QUAN ,
				PRICE ,ADDR ,ID ,PUR_DATE)
		VALUES (BUYLIST_NO_SEQ.NEXTVAL, #{cart_no}, #{book_no}, #{book_name}, #{cart_quan},
				#{totalPrice}, #{addr}, #{id}, SYSDATE)
	</insert>	
    
</mapper>









