<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="example">

	
		<!-- 검색 결과 수 조회 -->
	<select id="searchCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) AS CNT 
		FROM MEMBERS 
		<choose>
			<when test="idx == 0">
				WHERE ID = #{keyword}
			</when>
			<when test="idx == 1">
				WHERE NAME = #{keyword}
			</when>
			<when test="idx == 2">
				WHERE PHONE = #{keyword}
			</when>
			<when test="idx == 3">
				WHERE EMAIL = #{keyword}
			</when>
			<otherwise>
				WHERE 1 = 2
			</otherwise>
		</choose>
	</select>
	
	<!-- 페이지에 표시할 데이터 조회 
		parameterType="Map" : begin, end 값 전달 용도
		key-value 형태의 Map 사용 바인드변수명 key가 됨 -->
	<select id="searchList" resultType="exampleVO"
			parameterType="Map">
		SELECT *
		  FROM (SELECT ROWNUM AS R_NUM, M.*
		          FROM (SELECT *
		                  FROM MEMBERS
                  		<choose>
							<when test="idx == 0">
								WHERE ID = #{keyword}
							</when>
							<when test="idx == 1">
								WHERE NAME = #{keyword}
							</when>
							<when test="idx == 2">
								WHERE PHONE = #{keyword}
							</when>
							<when test="idx == 3">
								WHERE EMAIL = #{keyword}
							</when>
							<otherwise>
								WHERE 1 = 2
							</otherwise>
						</choose>
		                 ORDER BY ID
		               ) M 
		       )
		 WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
		

</mapper>









